.container {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.sign-up-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    border: 1px solid white;
}

.btn {
    width: 120px;
}

.btn:hover {
    background-color: white;
    color: black;
}