.home-header {
    color: yellow;
    margin: 50px auto;
}

.video-card {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.video-tag {
    width: 80vw;
}

.slogan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.author {
    color: yellow;
    font-size: larger;
    font-style: italic;
}